html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: 650px;
}

header {
  background-color: #d05c2e;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

img {
  display: inline-block;
  width: 40px;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
}

.nav a:hover {
  background-color: #a63f38;
}

.nav li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: .5em 0;
  border: 1px solid #a63f38;
  align-items: center;
}
